* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 24px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  color: black !important;
}

#name {
  padding: 12px;
  background-color: orange;
}

#bio {
  padding: 12px;
  background-color: aquamarine;
}

#interests {
  padding: 12px;
  background-color: coral;
}

#phs {
  padding: 12px;
  background-color: cornflowerblue;
}

#links {
  padding: 12px;
  background-color: mediumspringgreen;
}

#phs div {
  padding: 12px;
}

#phs div div {
  padding: 4px;
  border: 1px solid black;
  width: 33%;
}

#phs div div div {
  width: 100%;
  border: none;
  color: black;
}

#links div {
  padding: 12px;
}

#links div div {
  padding: 4px;
  border: 1px solid black;
}

#links div div div {
  width: 100%;
  border: none;
}

#links div div a {
  overflow: auto;
}

#skills {
  background-color: plum;
}

#skills {
  padding: 12px;
}

#skills ul {
  padding: 12px;
}

a {
  color: white !important;
  text-decoration: underline !important;
}

a::before {
  content: "\1F517";
}

@media screen and (max-width: 768px) {
  #phs div div {
    width: 100%;
  }

  #links div div {
    width: 100%;
  }
}